@import '../../App.scss';

.green-button {
    color: $appGreenColor;
    border: 1px solid $appGreenColor;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    margin: 10px;
}

.green-button:hover {
    cursor: pointer;
    background-color: $appGreenTextBackgroundColor;
}