@import '../../App.scss';

$headerMargin: 10px;

.header-button {
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-top: 10px;
    font-size: 1em;
    margin: $headerMargin;
}

.header-button::before {
    counter-increment: headerCounter -1;
    content: "0" counter(headerCounter) ".";
    margin-right: 5px;
    color: $appGreenColor;
}

.header-button:hover {
    border: 2px dashed $appGreenColor;
    margin: ($headerMargin - 2px);
    cursor: pointer;
    div {
        color: $appGreenColor;
    }
}