@import '../../App.scss';

.left-footer {
  position: fixed;
    left: 40px;
    bottom: 0;
  }

.left-footer-icon:hover {
    color: $appGreenColor;
}

.left-footer-icon {
  font-size: 23px;
  margin: 20px 0px;
}

.left-footer-icon:active {
  outline: 2px dashed $appGreenColor;
  outline-offset: 6px;
}

.left-line {
  display: inline-block;
  margin-left: 0.5em;
  min-height: 6em;
  border-right: 1px solid $appSlateColor;
}