@import '../App.scss';

$headerMargin: 10px;

.header-button {
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-top: 10px;
    font-size: 1em;
    margin: $headerMargin;
}

.btn-number {
    margin-right: 0.5em;
    color: $appGreenColor;
}

.btn-title {
    color: $appTextColor;
}

.header-button:hover {
    border: 2px dashed $appGreenColor;
    margin: ($headerMargin - 2px);
    cursor: pointer;
    div {
        color: $appGreenColor;
    }
}