@import '../App.scss';

.left-footer {
    position: absolute;
    margin-left: 2vw;
    margin-top: 71vh;
    min-height: 25vh;
    display: inline-block;
  }

.left-footer-icon:hover {
    color: $appGreenColor;
}

.left-line {
  display: inline-block;
  min-height: 18vh;
  border-right: 1px solid $appTextColor;
}