@import '../App.scss';

.left-footer {
    margin-left: 2em;
    position: fixed;
    bottom: 0;
    display: inline-block;
  }

.left-footer-icon:hover {
    color: $appGreenColor;
    padding-bottom: 20px !important;
    margin-bottom: 30px;
}

.left-line {
  display: inline-block;
  margin-left: 0.4em;
  min-height: 5em;
  border-right: 1px solid $appTextColor;
}