@import '../App.scss';

.left-footer {
    margin-left: 2em;
    position: fixed;
    bottom: 0;
    display: inline-block;
  }

.left-footer-icon:hover {
    color: $appGreenColor;
    margin-bottom: 25px;
    margin-top: -6px;
}

.left-footer-icon {
  font-size: 1.2em;
}

.left-line {
  display: inline-block;
  margin-left: 0.5em;
  min-height: 6em;
  border-right: 1px solid $appTextColor;
}