.right-footer {
  position: fixed;
  margin-left: 80vw;
  margin-top: 76vh;
  min-width: 45vh;
  transform: rotate(90deg);
}

.right-footer-email a {
  padding-right: 10px;

}

.right-footer-email:hover {
    color :#40a296;
}

.right-line {
  display: inline-block;
  width: 18vh;
  border-top: 1px solid white;
  transform: rotate(180deg);
}