$appGreenTextBackgroundColor: #133141;

$appNavyColor: #0a192f;
$appLightNavyColor: #112240;
$appLightestNavyColor: #233554;
$appSlateColor: #8892b0;
$appLightSlateColor: #a8b2d1;
$appLightestSlateColor: #ccd6f6;
$appWhiteColor: #e6f1ff;
$appGreenColor: #64ffda;

$fontMono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;

$appTextColor: $appWhiteColor;

$transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

* {
  background-color: $appNavyColor;
  box-sizing: border-box;
}

.App {
  counter-set: headerCounter 5 h2Counter 0;
  color: $appTextColor;
  margin: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: $transition;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: $appLightestSlateColor;
}

h2 {
  line-height: 1.1;
}

h3 {
  font-size: 22px;
}

div {
  font-size: 1.1em;
}

p, ol, li {
  color: $appSlateColor;
  font-size: 1.1em;
}

.numbered-heading::before {
  position: relative;
  counter-increment: h2Counter 1;
  content: "0" counter(h2Counter) ".";
  margin-right: 10px;
  color: $appGreenColor;
  font-family: $fontMono;
  font-size: 3vw;
  font-weight: 400;
}

.numbered-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 3vw;
  white-space: nowrap;
}

.slate-color {
  color: $appSlateColor;
}