$appGreenTextBackgroundColor: #133141;

$appNavyColor: #0a192f;
$appLightNavyColor: #112240;
$appLightestNavyColor: #233554;
$appSlateColor: #8892b0;
$appLightSlateColor: #a8b2d1;
$appLightestSlateColor: #ccd6f6;
$appWhiteColor: #e6f1ff;
$appGreenColor: #64ffda;

$appTextColor: $appWhiteColor;

* {
  background-color: $appNavyColor;
}

.App {
  color: $appTextColor;
  margin: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}